/* 

p{
   line-height: 2;
 }
img{
   border: 5px solid #2872a3;
   padding: 10px;
   margin: 20px;
   border-top-right-radius : 30px
}
 */


body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}
p{
  line-height: 2;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e6eaf;  /* Python blue */
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #FFFF00;  /* Python yellow */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, nav li a:focus {
  background-color: #FFFF00;  /* Python yellow */
  color: #306998;  /* Python blue */
}
*:focus{
  text-decoration: underline;
}
.skip a{
  position:absolute;
  top: -40px;
} 

.skip a:focus{
  position:absolute;
  top: 50px;
}

h1{
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  color: #306998;
}
h2, h3 {
  font-size: 22px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #306998; 
}

main {
  padding: 20px;
}

img, video {
  max-width: 100%;
  height: auto;
}

.container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  justify-content: space-around;
  justify-items: stretch;
  background-color: #778898;
}
.container > div{
  background-color:#f5f5f5;
  border: 3px solid #000000;
  border-radius: 20px;
  padding: 5px;
}
@media only screen and (max-width: 600px) {
  nav li {
      float: none;
      width: 100%;
  }
  .container{
    display: grid;
    width: 90%;
    margin: 0 auto;  /*Set grid in center*/
    grid-template-columns: 0.9fr; 
    
    
    row-gap:10px;
  }
  h1 {
      font-size: 24px;
  }

  h2 {
      font-size: 20px;
  }

  p {
      font-size: 16px;
      line-height: 1;
  }
}
@media screen and (prefers-reduced-motion: reduce){
  .gif{
    display: none;
  }

  /* .static{
    display: block;
  } */
  
}
